In [78]:
import pandas as pd
import io

In [79]:
data = '' 'Airline Code;DelayTimes;FlightCodes;To_From\nAir Canada (!);[21, 40];20015.0;WAterLoo_NEWYork\n<Air France> (12);[];;Montreal_TORONTO\n(Porter Airways. );[60, 22, 87];20035.0;CALgary_Ottawa\n12. Air France;[78, 66];;Ottawa_VANcouvER\n""".\\.Lufthansa.\\.""";[12, 33];20055.0;london_MONTreal\n'''

In [80]:
# Convert the given stringified table into an file-like object, then read the data into dataframe
data_io = io.StringIO(data) 

df = pd.read_csv(data_io, delimiter=';', lineterminator='\n')
print(df)

         Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]      20015.0  WAterLoo_NEWYork
1   <Air France> (12)            []          NaN  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]      20035.0    CALgary_Ottawa
3      12. Air France      [78, 66]          NaN  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]      20055.0   london_MONTreal

In [81]:
# Fill missing values in FlightCodes column with values incremented by 10

# Convert stings in FlightCodes column into numeric, or NaN if it is not able to
df['FlightCodes'] = pd.to_numeric(df['FlightCodes'], errors='coerce') 

# Fill in NaN values by using a straight line between the values before and after the NaN
df['FlightCodes'] = df['FlightCodes'].interpolate(method='linear').astype(int)
print(df)

         Airline Code    DelayTimes  FlightCodes           To_From
0      Air Canada (!)      [21, 40]        20015  WAterLoo_NEWYork
1   <Air France> (12)            []        20025  Montreal_TORONTO
2  (Porter Airways. )  [60, 22, 87]        20035    CALgary_Ottawa
3      12. Air France      [78, 66]        20045  Ottawa_VANcouvER
4   ".\.Lufthansa.\."      [12, 33]        20055   london_MONTreal

In [82]:
# Split To_From column into two seperate columns on '_'
df[['To', 'From']] = df['To_From'].str.split('_', expand=True)

# Swap the 'To' and 'From' columns
df = df[['Airline Code', 'DelayTimes', 'From', 'To']]

# Convert both new column into uppercase
df['To'] = df['To'].str.upper()
df['From'] = df['From'].str.upper()

print(df)

         Airline Code    DelayTimes       From        To
0      Air Canada (!)      [21, 40]    NEWYORK  WATERLOO
1   <Air France> (12)            []    TORONTO  MONTREAL
2  (Porter Airways. )  [60, 22, 87]     OTTAWA   CALGARY
3      12. Air France      [78, 66]  VANCOUVER    OTTAWA
4   ".\.Lufthansa.\."      [12, 33]   MONTREAL    LONDON

In [83]:
# Clean Airline Code by removing punctuation using regular expression, except space in the middle
df['Airline Code'] = df['Airline Code'].str.replace(r'[^\w\s]', '', regex=True).str.strip()
print(df)

     Airline Code    DelayTimes       From        To
0      Air Canada      [21, 40]    NEWYORK  WATERLOO
1   Air France 12            []    TORONTO  MONTREAL
2  Porter Airways  [60, 22, 87]     OTTAWA   CALGARY
3   12 Air France      [78, 66]  VANCOUVER    OTTAWA
4       Lufthansa      [12, 33]   MONTREAL    LONDON

In [84]:
# Save the df as a csv file
df.to_csv('cleaned_data.csv', index=False)